@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display:flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 55px;
    list-style-type: none;    
}

nav ul li{
    padding:0 10px;
}

.brand{
    display:flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bolder;
}

.brand img{
    height:40px;
    padding-right: 5px;
}

.container{
    background-color: black;
    color:white;
    height:66vh;
    width:80%;
    border-radius: 12px;
    margin:20px auto;
    padding:30px;
    background-image: url('./bg.jpg');
}

.songs-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    background-color: white;
    color:black;
    font-family: 'Verela Round', sans-serif;
    width:60%;
    margin:15px 0;
    border-radius: 25px;
}

.songsContainer{
    margin:34px;
}

.songs-item img{
    height:35px;
    margin:0 10px;
    border-radius: 50%;
}

.timespan{
    margin:0 10px;
    cursor: pointer;
}

.bottom{
    height:130px;
    bottom:0;
    position:sticky;
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom #playing{
    width:80vw;
    margin-bottom: 10px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left:10vw;
}

.icons{
    cursor: pointer;
}

.songInfo img{
    height:15px;
    opacity:0;
}

@media only screen and (max-width: 1500px) {
    .container{
        height:auto 
    }
  
}

@media only screen and (max-width: 950px) {
    .songs-item{
        width:90%; 
    }
  
}

@media only screen and (max-width: 500px) {
  .songs-item{
    font-size: 0.7rem;
  }  
  
}

@media only screen and (max-width: 440px) {
    .songInfo{
        left:3vw;
    }  
    
  }

@media only screen and (max-width: 350px) {
    .songs-item{
      flex-direction: column;
      justify-content: center;
      height:auto;
      padding:5px
    } 
    .songInfo{
        position: absolute;
        left:3vw;
        display: flex;
        flex-direction: column;
    } 
    
  }